<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722936229403-rqlsv5rvbfljr8soreonuicm9danbg41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722936229403-rqlsv5rvbfljr8soreonuicm9danbg41</string>
	<key>API_KEY</key>
	<string>AIzaSyDu6T1GXH9laBGiiySU2ugoO1ldRCuhZgE</string>
	<key>GCM_SENDER_ID</key>
	<string>722936229403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.livlife</string>
	<key>PROJECT_ID</key>
	<string>livlife-88e41</string>
	<key>STORAGE_BUCKET</key>
	<string>livlife-88e41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722936229403:ios:f53cb4b6cc9cb658cf92be</string>
	<key>DATABASE_URL</key>
	<string>https://livlife-88e41.firebaseio.com</string>
</dict>
</plist>